*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: white;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body::before{
    content: '';
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: -1;
    position: fixed;
    background-image: url("./wp2337017.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    

}

#nav{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    height: 60px;
    width: 100%;
    top:0;
    left:0;
    background: #000000;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.4);
}

#container{
    width: 100%;
    margin: 0 auto 0 auto;
}
#content{
    margin: 100px 10vw 0 10vw;
    padding: 2rem 2rem;
    border-radius: 25px;
    background-color: rgba(20, 20, 20, 0.8);
}

ul{
    display: flex;
    list-style: none;
}

li a{
    text-decoration: none;
    color: white;
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
    font-weight: 900;
    margin: 0 2rem 0 2rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    transition: all 0.5s ease-out;
}


li a:hover{
    background-color: white;
    color: black;
}

@media (max-width: 500px) {
    li a{
        margin: 0;
        font-size: 1.1rem;
    }
    body{
        font-size: 70%;
    }
    
   
}

#heading1{
    text-align: center;
    font-weight: 900;
    font-size: 4.5rem;
    margin: 0;
}

.pytanie{
    font-size: 2.2rem;
    margin: 3rem 0 0 1rem;
    font-weight:900;
}

.text{
    font-style: italic;
    font-size: 1.3rem;
    font-weight: 500;
    margin: 3rem 2rem 0 2rem;
}

.linkacz{
    width:100%;
    text-align: right;
    margin-top: 2rem;
}
.link{
    text-decoration: none;
    color: white;
    margin-right: 1rem;
}

footer{    
    display: flex;
    width: 100%;
    height: 50px;
    background-color: black;
align-items: center;
justify-content: flex-end;
margin-top: 3rem;
box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.4);
}

#podpis{
    font-style: italic;
    font-weight: 900;
    margin-right: 3rem;
}

img{
    margin-top: 3rem;
    max-width: 100%;
    border-radius: 10px;
    
}

#img-div{
    width: 100%;
    padding: 0 2.5rem 0 2.5rem;
}